@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	text-size-adjust: 100%;
}

html, body{
	padding: 0;
	margin: 0;
}

.main{
	padding: 5rem;
}

h1,
.main{
    width: 100%;
    margin: auto;
}

h2{
	color: #000;
	font-family: sans-serif;
	font-size: 50px;
	text-align: center;
}

p, li{
	font-family: sans-serif;
	text-align:center;
	line-height: 150%;
}

img {
	display: block;
  margin-right: auto;
  width: 100%;
}

.ease-all{
	-webkit-transition: all 350ms ease-in-out;
	-moz-transistion: all 350ms ease-in-out;
	-ms-transition: all 350ms ease-in-out;
	-o- transition:all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

/*NAVIGATION*/

.logo {
	width: 50px;
	height: 50px;
	float: left;
	display: inline-block;
	margin-top: 1rem;
	margin-left: 1rem;
	position: fixed;
}

.nav {
	text-align:right;
	position: fixed;
	height: 50px;
	font-size: 18px;
}

.nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}

.nav a,
.nav a:link,
.nav a:visited {
	text-align:right;
	font-family: sans-serif;
	letter-spacing: 1.5px;
	color: #000;
	text-decoration: none;
	font-weight: 300;
	line-height: 2rem;
}

.nav li {
	text-align:center;
	display: inline-block;
	padding: 0.5em;
}

.nav ul {
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	/*width: 17em;*/
}

.nav a:hover,
.nav a:focus,
.nav a:active{
	color: #000;
	background-color: rgba(0,0,0,0.1);
}










.fancy-link,
.fancy-link:link,
.fancy-link:visited{
	text-decoration: none;
	font-weight: bold;
	border-bottom: 0 solid #000;
}

.fancy-link:hover,
.fancy-link:active,
.fancy-link:focus{
	color: #fff;
	border-bottom: 10px solid #000;
}

/*IMAGES LAYOUT*/
.grid {
	list-style:none;
	overflow: hidden;
	padding: 0.5em 0 0 0.5em;
	max-width: 76em;
	margin: 0 auto;
}

.grid li {
	padding: 0 0.5em 0.5em 0;
}

.grid li > img {
	display:block;
	max-width:100%;
	padding: 1rem;
	text-align: center;
}


@media all and (min-width: 35em) {
.grid li {
	width: 50%;
	float: left;
}
}

@media all and (min-width: 40em) {
	.grid li {
		width: 33%;
	}
	.grid li.wide {
		width: 66%;
	}
}

@media all and (min-width: 60em) {
	.grid li {
		width: 25%;
	}
	.grid li.wide {
		width: 50%;
	}
}

.pictures,
.placeholder,
.placeholder-last{
	margin: 5%;
}

@media only screen and (min-width: 35em){

.pictures,
.placeholder,
.placeholder-last{
	overflow:auto;
}

.pictures
.placeholder,
.placeholder-last{
	width: 45%;
	margin: 2.5%;
	float: left;
}
}

@media only screen and (min-width: 60em){

.pictures
.placeholder,
.placeholder-last{
	width: 27.2%;
	margin: 3%;
}
}

/*SOCIAL ICONS*/
section{
	width: 9rem;
	display: block;
	margin:auto;
	clear:both;
}

.social li a,
.social li a:link,
.social li a:visited{
	margin-top: .7rem;
	float:left;
	height: 40px;
	width: 40px;
	margin-right: .4rem;
	text-align: center;
	padding-top: .6rem;
	border-radius: 50%;
	color: #fff;
	box-shadow: inset 0px 0px 0px 40px #000;
}

.social li a:hover,
.social li a:active,
.social li a:focus{
	color: #000;
	box-shadow: inset 0px 0px 0px 3px #fff;
}


/*BACK TO TOP*/
.backtotop {
	position: fixed;
	top:auto;
	bottom:1rem;
	left:auto;
	right:1rem;
	width: 100px;
}

@media only screen and (max-width: 40em){
.backtotop {
	display: none;
}

/*FOOTER*/
footer{
	padding-top: 5rem;
	padding-left: 5rem;
	padding-right: 5rem;
}
