@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	text-size-adjust: 100%;
	background-color: #7A6A53;

}

html, body{
	padding: 0;
	margin: auto 0;
}

.main{
    width: 100%;
    margin: auto 0;
}

h2{
	color: #000;
	font-family: sans-serif;
	font-size: 50px;
	text-align: center;
	padding-top: 5rem;
	margin: auto 0;
}

p, li{
	font-family: sans-serif;
	text-align:center;
	line-height: 150%;
	margin: auto 0;
}

img {
	display: block;
  margin-right: auto 0;
  width: 100%;
  margin: auto 0;
}

.heading-pic{
	margin: auto 0;
}

.header{
	background-color: #D5DED9;
}

.about{
	background-color: #99B2B7;
}

.portfolio{
	background-color: #D9CEB2;
}

.contact{
	background-color: #948C75;
}

.ease-all{
	-webkit-transition: all 350ms ease-in-out;
	-moz-transistion: all 350ms ease-in-out;
	-ms-transition: all 350ms ease-in-out;
	-o- transition:all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.logo {
	width: 50px;
	height: 50px;
	float: left;
	display: inline-block;
	position: fixed;
	margin: auto 0;
}

.logo:hover{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
    -webkit-transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
}

/*NAVIGATION*/
.nav {
	text-align:right;
	position: fixed;
	height: 50px;
	font-size: 18px;
}

.nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}

.nav a,
.nav a:link,
.nav a:visited {
	text-align:right;
	font-family: sans-serif;
	letter-spacing: 1.5px;
	color: #000;
	text-decoration: none;
	font-weight: 300;
	line-height: 2rem;
}

.nav li {
	text-align:center;
	display: inline-block;
	padding: 0.5em;
}

.nav ul {
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	/*width: 17em;*/
}

.nav a:hover,
.nav a:focus,
.nav a:active{
	color: #000;
	background-color: rgba(0,0,0,0.1);
}

/*IMAGES LAYOUT*/
.grid {
	list-style:none;
	overflow: hidden;
	padding: 0.5em 0 0 0.5em;
	max-width: 76em;
	margin: 0 auto;
}

.grid li {
	padding: 0 0.5em 0.5em 0;
}

.grid li > img {
	display:block;
	max-width:100%;
	padding: 1rem;
	text-align: center;
}


@media all and (min-width: 35em) {
.grid li {
	width: 50%;
	float: left;
}
}

@media all and (min-width: 40em) {
	.grid li {
		width: 33%;
	}
	.grid li.wide {
		width: 66%;
	}
}

@media all and (min-width: 60em) {
	.grid li {
		width: 25%;
	}
	.grid li.wide {
		width: 50%;
	}
}

.pictures,
.placeholder,
.placeholder-last{
	margin: 5%;
}

@media only screen and (min-width: 35em){

.pictures,
.placeholder,
.placeholder-last{
	overflow: auto;
	margin: auto 0;
}

.pictures
.placeholder,
.placeholder-last{
	width: 45%;
	margin: 2.5%;
	float: left;
}
}

@media only screen and (min-width: 60em){

.pictures
.placeholder,
.placeholder-last{
	width: 27.2%;
	margin: 3%;
}
}

/*SOCIAL ICONS*/
.icons{
	width: 9rem;
	display: block;
	margin: auto 0;
	clear:both;
}

.social li a,
.social li a:link,
.social li a:visited{
	margin-top: .7rem;
	float:left;
	height: 40px;
	width: 40px;
	margin-right: .4rem;
	text-align: center;
	padding-top: .6rem;
	border-radius: 50%;
	color: #fff;
	box-shadow: inset 0px 0px 0px 40px #000;
}

.social li a:hover,
.social li a:active,
.social li a:focus{
	color: #000;
	box-shadow: inset 0px 0px 0px 3px #fff;
}


/*BACK TO TOP*/
.backtotop {
	position: fixed;
	top:auto;
	bottom:1rem;
	left:auto;
	right:1rem;
	width: 100px;
	margin: auto 0;
}

@media only screen and (max-width: 40em){
.backtotop {
	display: none;
}

/*FOOTER*/
footer{
	padding-top: 5rem;
	padding-left: 5rem;
	padding-right: 5rem;
	margin: auto 0;
}
