@charset "UTF-8";
/* CSS Document */

/* COLOURS
light teal/blue - #d5ded9
teal/blue - #99b2b7
medium tan - #d9ceb2
medium brown - #7a6a53*/

/*GENERAL*/

body {
	margin: 0;
	padding: 0;
}

section {
	padding: 1rem 0;
}

img {
	display: block;
	margin: 0 auto;
}

/* NAVIGATION */

.nav-bar{
	background-color: red;
	height: 50px;
	position: fixed;
}

.logo {
	width: 60px;
	height: 60px;
	float: left;
	display: inline-block;
	margin-top: -7rem;
	margin-left: 1rem;
	position: fixed;
}

.nav {
	text-align:right;
	position: fixed;
	height: 50px;
	font-size: 12px;
}

.nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}

.nav a,
.nav a:link,
.nav a:visited {
	text-align:right;
	font-family: serif;
	letter-spacing: 1.5px;
	color: #fff;
	text-decoration: none;
	font-weight: 300;
	line-height: 2rem;
}

.nav li {
	text-align:center;
	display: inline-block;
	padding: 0.5em;
}

.nav ul {
	padding: 0;
	margin: 0 auto;
	xdisplay: inline-block;
	/*width: 17em;*/
}

.nav a:hover,
.nav a:focus,
.nav a:active{
	color: #000;
	text-decoration: overline;
}

/* "HOME" PAGE */

.main-banner-section {
	background: transparent url("http://placehold.it/1000x500.jpg") no-repeat center top;
	background-size: cover;
	padding: 6.5rem 0;

}

.intro{
	color: #fff;
	text-align: right;
	font-family: serif;
	font-size: 40px;
	padding-top: 18rem;
}

.intro-2{
	color: #fff;
	text-align: right;
	font-family: serif;
	font-size: 14px;
}

/* ABOUT */

.about-section {
	background-color: #d5ded9;
	padding: 2rem 1rem;
}

h2 {
	font-family: serif;
	color: #2e2e2e;
	text-align:center;
	font-size:20px;
}

.about-me {
	font-family: serif;
	color: #2e2e2e;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
}

/* PORTFOLIO */

.line-separator{
	height: 1px;
	background: #ccc;
}


.x-hover{
	position: relative;
}

.close{
	width: 30px;
	opacity: .4;
	margin-right: 1rem;
	margin-bottom: 1rem;
	-webkit-transition: opacity .125s ease-in-out;
	-moz-transition: opacity .125s ease-in-out;
	-o-transition: opacity .125s ease-in-out;
	transition: opacity .125s ease-in-out;
}

.close:hover{
	opacity: 1;
}

/* PORTFOLIO */

.portfolio-section {
	padding-left: 6rem;
	background-color: #7a6a53;
}

.portfolio {
	color: #fff;
	text-align:center;
	font-size:40px;
	font-family: serif;
	margin: auto 0;
}

h3 {
	font-family: serif;
	text-align: center;
}

.portfolio-description {
	font-family: serif;
	text-align: left;
}

.portfolio-section-1,
.portfolio-section-2,
.portfolio-section-3,
.portfolio-section-4,
.portfolio-section-5,
.portfolio-section-6,
.portfolio-section-7{
	padding-left: 6rem;
}

.portfolio-section-1,
.portfolio-section-3,
.portfolio-section-5,
.portfolio-section-7{
	background-color: #d5ded9;
}

.portfolio-section-2,
.portfolio-section-4,
.portfolio-section-6{
	background-color: #99b2b7;
}

/* PORTFOLIO DROP DOWN */

.content{
	background-color: #fff;
}

.opener {
	display: block;
	text-decoration: none;
	color: #000;
}

.open{
	overflow: hidden;
	max-height: 0;
}

.open[data-state="expanded"]{
	max-height: 300em;
}

/* PORTFOLIO CONTENT */

.description-title{
	text-align: center;
	line-height: 1.5rem;
	font-size: 16px;
	font-family: serif;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .2em;
	border-bottom: 1px solid #ccc;
	padding: 1.5rem 0;

}

.initial-description{
	text-align: center;
	font-family: serif;
	font-weight: 300;
	line-height: 1.5rem;
	/*margin: -7rem 4rem;*/
	font-size: 14px;
	/*border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 1.5rem 0;*/
	color: rgba(122,122,122,1.00);
}

.pic-1{
	width: 100%;
	padding: 1.5rem 0;
}

.pic-2{
	width: 100%;
	padding: 3rem 0;
}

.link{
	text-decoration: none;
	border-bottom: 2px solid #d5ded9;
	color: rgba(122,122,122,1.00);
}

.link:hover{
	border-bottom: 0px;
	color: #d5ded9;
}

.link:visited{
	text-decoration: none;
	border-bottom: 2px solid #d5ded9;
	color: rgba(122,122,122,1.00);
}

/* FOOTER */
.footer-section{
	padding: 2rem;
	background-color: #d9ceb2;
}

.copyright{
	text-align:center;
	color: #fff;
	font-family: serif;
	font-weight: 300;
	font-size: 12px;
}

@media only screen and (min-width: 41em){

.main-banner-section {
	padding: 15rem 0;
}

.about-section {
	padding: 8rem 5rem;
}

.portfolio-section {
	padding-left: 6rem;
}

.nav li {
	padding-left: 2em;
	padding-right: 2em;
	font-size: 16px;
}

.logo {
	width: 60px;
	height: 60px;
	margin-top: -15.5rem;
	margin-left: 1rem;
}

.copyright{
	text-align: left;
	padding: 0 3rem;
}

/* PORTFOLIO CONTENT */

.pic-1{
	width: 75%;
	border-bottom-width: 100%;

}

}

@media only screen and (min-width: 56em){

.main-banner-section {
	padding: 20rem 0;
}

.logo {
	width: 60px;
	height: 60px;
	margin-top: -20.5rem;
	margin-left: 1rem;
}

.about-section {
	padding: 10rem 8rem;
	line-height: 1.5rem;
}

.portfolio-section {
	padding-left: 6rem;
}

.portfolio {
	font-size: 80px;
}


.intro-2{
	font-size: 20px;
}

h2{
	font-size: 24px;
}

h3,
.portfolio-description {
	text-align: left;
}

}

/* CONTACT/FOOTER */

.contact{
	background-color: #7a6a53;
	margin: auto 0;
	padding: 2rem;
	text-align: center;
}

.contact-content{
	background-color: #d9ceb2;
	padding: 2rem 1rem 1rem 6rem;
}
